@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Roboto", arial;
	font-weight: normal;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
}
body{
	background: url('https://www.sofascore.com/bundles/sofascoreweb/world-cup/pattern-wc.svg') 0 0/auto auto repeat fixed #e2dad7
}
*{
	box-sizing: border-box;
	transition: 0.3s ease;
}


.btn{
	padding: 8px 25px;
	text-align: center;
	background: #E7D77D;
	color: #222;
	border: 1px solid #222;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	font-size: 16px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	min-width: 150px;
}
.NextStageButton-wrapper{
	padding: 20px 15px;
	text-align: center;
}
.btn:hover{
	background: transparent;
}
.clearfix:after,
.clearfix:before{
	content: "";
	display: table;
	clear: both;
}
.header-inner{
	background: #E7D77D;
	padding: 15px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	align-items: center;
	justify-content: space-between;

}
.logo-wrapper{
	display: inline-block;
	vertical-align: middle;
}
.menu-wrapper{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}
.menu li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 1px;
}
.menu li:last{
	margin-right: 0;
}
.menu li:not(.logo) a{
	display: block;
	padding: 10px 15px;
	border-radius: 4px;
	color: #eee;
	background: #333;
	text-decoration: none;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	border: 1px solid #222;
	overflow: hidden;
	position: relative;
}
.menu li:not(.logo) a:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #E7D77D;
	color: #fff;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	z-index: 0;
}
.menu li:not(.logo) a:hover:after{
	top: 0;
}
.menu li.logo{
	text-align: center;
}
.menu li a span{
	position: relative;
	z-index: 1;
}
.menu li a:hover{
	background: transparent;
	color: #222;
}

.mobile-menu-icon{
	padding: 10px;
	background: #E7D77D;
	border-radius: 4px;
	display: inline-block;
	display: none;
	cursor: pointer;
}

.mobile-menu-icon span{
	display: block;
	height: 2px;
	margin-bottom: 3px;
	width: 20px;
	background: #fff;
}
.mobile-menu-icon span:last-child{
	margin-bottom: 0;
}

.tab-content{
	display: none;
}
.tab-content.active{
	display: block;
}
.tab-links{
	overflow: hidden;
}
.tab-links li{
	display: inline-block;
	vertical-align: middle;
	width: 33.3333%;
	margin-right: -4px;
}
.tab-links li a{
	display: block;
	position: relative;
	padding: 15px 15px;
	color: #fff;
	background: #555;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.tab-links li.active a{
	background: #222; 
}
.tab-links li.active a:after{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 23px solid transparent;
	left: 99.95%;
	left: calc(100% - 1px);
	top: 0;
	z-index: 1;
	border-left-color: #222;
}

.state-list-items{
	margin-bottom: 20px;
}
.state-list-wrapper{
	max-width: 400px;
	margin: auto;
	padding: 30px 20px;
}

.tab-heading h1{
	padding: 5px 0px;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
}

.state-list-heading h2{
	font-size: 20px;
	color: #444;
	margin-bottom: 15px;
}
.list-state li {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  display: -ms-flexbox;      /* TWEENER - IE 10 */
	  display: -webkit-flex;     /* NEW - Chrome */
	  display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.list-state li a{
	display: block;
	background: rgba(0,0,0,0.3);
	padding: 7px;
	border-radius: 0 25px 25px 0;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	max-width: 266px;
	width: 100%;
	position: relative;
	border: 1px solid rgba(255,255,255,0.7);
}
.state-flag{
	width: 23px;
	height: 23px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.state-name{
	vertical-align: middle;
}
.icon{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px solid #bac0c6;
	background: #fff;
	color: gray;
	border-radius: 50%;
	padding: 9px;
	text-align: center;
}
.icon svg{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	width: 16px;
	height: 16px;
	fill: #404040;
	transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
}
.list-state li a:hover{
	box-shadow: 0 4px 4px -3px rgba(0,0,0,0.2); 
}
.list-state li a:hover svg{
	transform: rotate(450deg);
	-webkit-transform: rotate(450deg);
}
.team-count {
	display: inline-block;
	vertical-align: top;
	border: 1px solid;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	text-align: center;
	margin-left: 4px;
	opacity: .6;
	outline: none;
	padding: 0px 4px;
	background: #fff;
	color: #404040;
	line-height: 26px;
	border: 1px solid #bac0c6;
}

.menu li.mobile-logo{
	display: none;
}

/*  Step 2 Css */

.flex-row{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;
}
.state-row {
	justify-content: space-around;
	margin: 8px 0;
}
.state-row-inner {
	position: relative;
}
.event {
	position: relative;
	display: flex;
	flex: 0 1 72px;
	justify-content: space-between;
	background: #fff;
	margin: 4px;
	min-height: 66px;
}
.state-row-inner.R8 {
	flex: 0 0 240px;
	justify-content: space-between;
}
.event.isTop::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 4px;
	left: 34px;
	height: 12px;
	background: #fff;
	top: auto;
	bottom: -10px;
}
.event::before, .state-row-inner.R8.top .event::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 4px;
	left: 34px;
	height: 12px;
	background: #fff;
	top: -10px;
}
.event-team {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	flex: 0 1 50%;
	text-align: center;
	padding: 4px;
	color: #404040;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	width: 36px;
	z-index: 1;
}
.event-team.top {
	flex-direction: column;
}
.state-tag {
	margin: 2px;
	font-size: 9px;
	color: gray;
}
.event-img {
	display: inline-block;
	width: 24px;
	margin: 2px 0;
	height: 24px;
	border-radius: 50%;
	vertical-align: top;
}
.event-icon {
	fill: #bac0c6;
	width: 16px;
	height: 16px;
}
.state-row-inner.R4::before {
	width: 160px;
	left: -42px;
	height: 4px;
}
.state-row-inner.R8::after, .state-row-inner.R8::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 82px;
	right: -42px;
	bottom: -6px;
	height: 4px;
	background: #fff;
}
.state-row-inner.R8 .event::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 4px;
	left: 34px;
	height: 12px;
	background: #fff;
	bottom: -10px;
}
.event.noTeams .event-team + .event-team::before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 84%;
	top: 8%;
	left: 0;
	border-left: 1px solid #bac0c6;
}
.state-row-inner.R8::before {
	left: 0;
}
.state-row-inner.R8::after {
	right: 0;
}
.state-row-inner.R2::after, .state-row-inner.R2::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 4px;
	left: 38px;
	height: 18px;
	background: #fff;
}
.state-row-inner.R2::before {
	top: -13px;
}
.state-row-inner.R4.top::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 4px;
	left: 38px;
	height: 12px;
	top: -6px;
	background: #fff;
}
.state-row-inner.R4::after, .state-row-inner.R4::before {
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -6px;
	background: #fff;
}
.state-row-inner.R4.top::before {
	bottom: auto;
	top: -6px;
}
.state-row-inner.R4::after {
	width: 4px;
	left: 38px;
	height: 12px;
}
.state-row-inner.top.R8::before {
	top: -6px;
	bottom: auto;
	left: 0;
}
.state-row-inner.top.R8::after {
	top: -6px;
	bottom: auto;
	right: 0;
}
.event-team.top .event-icon {
	transform: rotate(180deg);
}

/*  Step 2 End */

/* Step 3 */

.event-form label{
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.form-tab{
	text-align: center;
}
.event-form .form-group{
	margin-bottom: 20px;
}
.event-form label span{
	font-size: 80%;
	color: #555;
	font-weight: normal;
}
.event-form input{
	display: block;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	padding: 10px 20px;
	text-align: center;
	color: #080808;
	margin: 10px auto 0;
}
.event-footer span{
	display: block;
	text-align: left;
	margin-bottom: 10px;
}
.event-footer span a{
	text-decoration: none;
}

/* Step 3 */

@media screen and (max-width: 767px){

	.mobile-menu-icon{
		display: inline-block;
	}
	.logo-wrapper{
		width: 100%;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		align-items: center;
		justify-content: space-between;
	}
	.menu li.mobile-logo{
		display: block;
	}
	.header-inner{
		flex-direction: column;
	}
	.menu li.logo{
		margin-bottom: 20px;
	}
	.menu{
		transition: 0.3s ease;
		position: fixed;
		left: -100%;
		top: 0;
		border-right: 1px solid #bbb;
		box-shadow: -3px 0 17px rgba(0,0,0,0.3);
		z-index: 1000;
		max-width: 70%;
		height: 100%;
		width: 100%;
		padding: 20px 15px;
		background: #fff;
	}
	.menu.open-menu{
		left: 0;
	}
	.menu-wrapper,
	.menu li{
		display: block;
		width: 100%;
		text-align: left;
		margin-bottom: 5px;
	}
}
